body {
    /*background-image: url("https://img.freepik.com/premium-photo/light-blue-paper-seamless-square-texture-tile-ready-high-resolution-photo_463999-1273.jpg?w=2000");*/
    background-repeat: repeat;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.container .show {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    -webkit-box-shadow: inset 0 0 20px 10px #0006;
    -moz-box-shadow: inset 0 0 20px 10px #0006;
    box-shadow: inset 0 0 20px 10px #0006;
}

.container .galbanino {
    border-radius: 0 0 20% 20%;
    border-bottom: 1rem solid white;
}

.container .galbanino .button-area {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 40vw;
    height: 1rem;
    position: absolute;
    margin-top: 18rem;
}

.container > .galbanino > .button-area > a {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 3px solid white;
    transition: 0.6s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container > .galbanino > .button-area > a:hover {
    background: white;
    border: none;
    color: black;
    transition: 0.6s;
}


.container .round {
    border-radius: 10px;
}

.container .show img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border-radius: 30px;*/
    position: relative;
    z-index: -999;
}


.container .show h1 {
    position: absolute;
    color: white;
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
    text-shadow: 0 0 20px #000;

    border: 1px solid white;
    border-radius: 20px;
    padding: 1rem;
}

.container > .show > a {
    position: absolute;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 10rem;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 3px solid white;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .show a:hover {
    background: white;
    border: none;
    color: black;
    transition: 0.6s;
}

.container .area {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.container h1 {
    margin: 1rem auto 0 1rem;
    font-family: "Dancing Script", sans-serif;
    font-size: 4rem;
}

.container .area .left, .right {
    width: 48%;
    height: 90%;
    overflow: hidden;
}

.container .area p {
    text-align: justify;
    /*font-style: italic;*/
    font-size: 1.35rem;
    font-family: "Open Sans", serif;
    line-height: 1.6rem;
}

footer {
    width: 100%;
    height: 3rem;
    background: #91d8ebaa;
    display: flex;
    justify-content: center;
    align-items: center;
}