@import url("https://fonts.googleapis.com/css?family=Roboto Slab");

:root {
    --nav-height: 3rem;
}

* {
    font-family: "Roboto Slab", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding-top: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://rnz-ressh.cloudinary.com/image/upload/s--0V7W-oH2--/ar_16:10,c_fill,f_auto,g_auto,q_auto,w_1050/v1687339614/4L71PR9_000_33KE8WV_jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

.logo {
    height: 80%;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

nav {
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
    height: var(--nav-height);
    background: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    padding-left: 1rem;
    padding-right: 1rem;
}

nav > .nav-routes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 2rem;
}

nav > .nav-routes > a {
    margin-right: 2rem;
    color: #066;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

nav > .nav-routes > a:hover {
    text-shadow: 0 0 2px yellow;
}

nav > .nav-routes > a > p {
    margin-right: 0.5rem;
}


nav > .nav-last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

nav > .nav-last > * {
    margin-left: 0.5rem;
}

.login-button {
    background: #066;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: white;
}

.login-button:hover {
    background: #088;
}

.login-button:active {
    background: #0aa;
}