@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");
@import url("https://fonts.googleapis.com/css?family=Dancing Script");

:root {
    --nav-height: 3rem;
}

* {
    font-family: "Merriweather Sans", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding-top: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.logo {
    height: 100%;
}

.logo-titolo {
    font-family: "Dancing Script", sans-serif;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

nav {
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
    height: var(--nav-height);
    background: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    padding-left: 1rem;
    padding-right: 1rem;

    box-shadow: 0 5px 5px #0005;
}

nav > .nav-routes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

nav > .nav-routes > a {
    margin-right: 2rem;
    color: #000;
    font-size: 1.15rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    opacity: 0.6;
    transition: 0.3s;
}

nav > .nav-routes > a:hover {
    background: #0001;
    border-radius: 0.5rem;
    padding: 0.5rem;

    opacity: 1
}

nav > .nav-routes > a > p {
    margin-right: 0.5rem;
}


nav > .nav-last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

nav > .nav-last > * {
    margin-left: 0.5rem;
}

.login-button {
    background: #579dc9;
    padding: 0.5rem;
    border-radius: 3rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-button:hover {
    background: #6da6c9;
}

.login-button:active {
    background: #85aec7;
}