@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --nav-height: 3rem;
}

* {
    font-family: Roboto, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding-top: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
    height: var(--nav-height);
    background: antiquewhite;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    padding-left: 1rem;
    padding-right: 1rem;
}

nav > .nav-routes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 2rem;
}

nav > .nav-routes > a {
    margin-right: 0.5rem;
}

nav > .nav-last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

nav > .nav-last > * {
    margin-left: 0.5rem;
}